.box {
    background-color: yellow;
}

.dishes {
    
    color: yellowgreen;
    
    text-align: center;
    align-content: center;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
}

.dish {
    width: 200px;
    text-align: center;
    justify-items: center;
    background-color: blue;
    position:relative;
}

img {
    width: 100%;
}

.box-title {
   
    text-align: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(120, 209, 231, 0.5);
    opacity: 0;
}

.dish:hover .overlay{
    opacity: 1;
}
.hover{
    background-color: red;
}
